.movie {
  max-width: 300px;
  transition: all 0.3s;
}
.movie:hover {
  scale: 1.03;
  transition: all 0.3s;
}

.movie-detail {
  height: 90vh;
}

.header{
  text-align: center;
  gap: 500px;
}

.input{
  outline: none;
  border: none;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
